@import 'compass/css3';

$articleHeight: 450px;
$articleWidth: 750px;

$articleTop: 150px;
$articleLeft: 13%;

@mixin smallScreen(){
  //#Mobile (Landscape)
  @media only screen and (max-width: 1100px) {
    @content
  }
}

a, a:hover, a:active{
  text-decoration: none;
}

%shadow-effect {
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
}

%avatar {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background: rgb(212, 130, 0);
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)),
      url("../../images/background.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
  line-height: 24px;
}

.mainHeader {
  .logo {
    background: url("../../images/logo.png") no-repeat;
    width: 400px;
    height: 100px;
    margin: 10px auto 0;
  }
  .subLogo{
    color: #E5F762;
    width: 385px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

.mainSection {
  position: absolute;
  top: $articleTop;
  left: $articleLeft;
  @include smallScreen(){
    left: 3%;
  }
  bottom: 100px;
  right: 150px;
  &.notShow section:not(.focusArticle){
    display: none;
  }
  @for $i from 0 through 3 {
    .sec-#{$i} {
      @include transition-property(all);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-in);
      &:hover.back {
        opacity: 1;
      }
      &.front {
        background: url('../../images/maxresdefault.jpg') no-repeat;
        background-position: -((200px * $i) + (50px*$i)) -100px;
      }
      &.back {
        @include transition-property(all);
        @include transition-duration(300ms);
        @include transition-timing-function(ease-in);
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        cursor: pointer;
        @extend %shadow-effect;
      }
      display: inline-block;
      position: absolute;
      text-align: center;
      left: 270px * $i - (15px*$i);
      width: 200px;
      height: $articleHeight;
      &.focusArticle {
        @extend %shadow-effect;
        left: 0;
        background: linear-gradient(
            rgba(0,0,0, 0.6),
            rgba(0, 0, 0, 0.6)),
            url('../../images/maxresdefault.jpg') no-repeat;
        opacity: 1;
        cursor: default;
        background-position: 0, -((200px * $i) + (50px*$i)) -100px;
      }
      .avatar {
        @extend %avatar;
        margin-top: 100px;
      }
      .displayName {
        display: inline-block;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 900;
        color: white;
      }
    }
  }
}

.articlesOuterSection {
  @include border-radius(10px);
  width: $articleWidth;
  height: $articleHeight;
  background: #CA5304;
  position: absolute;
  top: $articleTop;
  left: 400px;
  @include smallScreen(){
    left: 250px;
  }
  &.notShow {
    display: none;
  }
}

$buttonColor: #CA5304;

%link {
  @include border-radius(5px);
  color: white;
  padding: 8px;
  background: $buttonColor;
  cursor: pointer;
  &:hover {
    background: shade($buttonColor, 10%);
  }
  &.active {
    border: 3px solid #FFAD00;
    cursor: default;
    &:hover{
      background: $buttonColor;
    }
  }
}

.articlesSection {
  background: white;
  height: $articleHeight - 40px;
  width: $articleWidth - 40px;
  margin: 20px auto;
  overflow-y: auto;
  .nav{
    overflow: hidden;
    .navSection {
      margin: 15px 30px 10px;
      float: right;
      font-size: 1.2rem;
      .link {
        @extend %link;
      }
    }
  }
  .singleSection {
    position: relative;
    height: 135px;
    border-bottom: #CA5304 1px solid;
    width: 95%;
    margin: 0 auto;

  }
  .thumb {
    @extend %avatar;
    margin: 20px;
    padding: 5px;
    background-color: #d48200;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .infoSection {
    display: inline-block;
    position: absolute;
    top: 23px;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .title {
      font-weight: 900;
      font-size: 1.3rem;
    }
    .detailLink {
      @include border-radius(5px);
      background: #FFD899;
      padding: 5px;
      font-weight: 700;
      display: inline-block;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .downloadSection {
    text-align: center;
    height: 50px;
    padding-top: 15px;
    .link {
      @extend %link;
    }
  }
  .articleTitle {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 20px auto 10px;
    border-bottom: 2px solid #CA5304;
    width: 90%;
    padding-bottom: 10px;
  }
  .articleBody {
    width: 90%;
    margin: 0 auto;
  }
}

/**
  @copy right http://tobiasahlin.com/spinkit/
*/
.spinnerSection {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.spinner {
  margin: 200px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

