@import 'compass/css3';

$articleHeight: 450px;
$articleWidth: 750px;

a, a:hover, a:active{
  text-decoration: none;
}

%avatar {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(212, 130, 0);
  font-size: 16px;
  line-height: 24px;
}

.mainHeader {
  color: rgb(0, 49, 97);
  .logo {
    width: 400px;
    margin: 35px auto 0;
    font-size: 2.5rem;
  }
}

.mainSection {
  position: absolute;
  top: 100px;
  left: 150px;
  bottom: 100px;
  right: 150px;
  &.notShow section:not(.focusArticle){
    display: none;
  }
  @for $i from 0 through 3 {
    .sec-#{$i} {
      @include transition-property(all);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-in);
      //background: rgba(184, 202, 4, 1);
      background: url('../../images/maxresdefault.jpg') no-repeat;
      background-position-x: -((200px * $i) + (50px*$i));
      background-position-y: -100px;
      background-size: 1000px auto;
      display: inline-block;
      position: absolute;
      text-align: center;
      left: 270px * $i - (15px*$i);
      width: 200px;
      height: $articleHeight;
      &.focusArticle {
        left: 0;
      }
      .avatar {
        @extend %avatar;
        margin-top: 100px;
      }
      .displayName {
        display: inline-block;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 900;
        color: white;
      }
    }
  }
}

.articlesOuterSection {
  @include border-radius(10px);
  width: $articleWidth;
  height: $articleHeight;
  background: #CA5304;
  position: absolute;
  top: 100px;
  left: 400px;
  &.notShow {
    display: none;
  }
}

$buttonColor: #CA5304;

%link {
  @include border-radius(5px);
  color: white;
  padding: 8px;
  background: $buttonColor;
  cursor: pointer;
  &:hover {
    background: shade($buttonColor, 10%);
  }
  &.active {
    border: 3px solid #FFAD00;
    cursor: default;
    &:hover{
      background: $buttonColor;
    }
  }
}

.articlesSection {
  background: white;
  height: $articleHeight - 40px;
  width: $articleWidth - 40px;
  margin: 20px auto;
  overflow-y: auto;
  .nav{
    overflow: hidden;
    .navSection {
      margin: 15px 30px 10px;
      float: right;
      font-size: 1.2rem;
      .link {
        @extend %link;
      }
    }
  }
  .singleSection {
    position: relative;
    height: 135px;
    border-bottom: #CA5304 1px solid;
    width: 95%;
    margin: 0 auto;

  }
  .thumb {
    @extend %avatar;
    margin: 20px;
    padding: 5px;
    background-color: #d48200;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .infoSection {
    display: inline-block;
    position: absolute;
    top: 23px;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .title {
      font-weight: 900;
      font-size: 1.3rem;
    }
    .detailLink {
      @include border-radius(5px);
      background: #FFD899;
      padding: 5px;
      font-weight: 700;
      display: inline-block;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .downloadSection {
    text-align: center;
    height: 50px;
    padding-top: 15px;
    .link {
      @extend %link;
    }
  }
  .articleTitle {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 20px auto 10px;
    border-bottom: 2px solid #CA5304;
    width: 90%;
    padding-bottom: 10px;
  }
  .articleBody {
    width: 90%;
    margin: 0 auto;
  }
}

